name: Build Optimized Alpine
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-utils libguestfs-tools linux-image-generic

      - name: Download Alpine
        run: |
          wget https://dl-cdn.alpinelinux.org/alpine/latest-stable/releases/cloud/nocloud_alpine-3.23.3-aarch64-uefi-cloudinit-metal-r0.qcow2 -O alpine.qcow2

      - name: Surgical Operation
        run: |
          export LIBGUESTFS_BACKEND=direct
          
          # ۱. استخراج فایل passwd برای حذف پسورد در محیط اوبونتو
          sudo guestfish -a alpine.qcow2 -i download /etc/passwd passwd_tmp
          sed -i 's/root:x:/root::/' passwd_tmp
          
          # ۲. اعمال تغییرات نهایی بدون دستورات حساس
          sudo guestfish -a alpine.qcow2 -i <<EOF
          # برگرداندن فایل پسورد اصلاح شده
          upload passwd_tmp /etc/passwd
          
          # حذف مستقیم فایل‌های سرویس (بدون ستاره و glob که ارور می‌داد)
          -rm /etc/runlevels/default/cloud-init
          -rm /etc/runlevels/default/cloud-config
          -rm /etc/runlevels/default/cloud-final
          -rm /etc/runlevels/boot/cloud-init-local
          
          # تنظیمات شبکه و مخازن
          write /etc/apk/repositories "https://dl-cdn.alpinelinux.org/alpine/latest-stable/main\nhttps://dl-cdn.alpinelinux.org/alpine/latest-stable/community"
          write /etc/resolv.conf "nameserver 8.8.8.8"
          -write /etc/securetty "ttyAMA0"
          EOF

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: alpine-docker-ready
          path: alpine.qcow2
          
