      - name: Surgical Operation (Architecture-Independent Edit)
        run: |
          export LIBGUESTFS_BACKEND=direct
          sudo guestfish -a alpine.qcow2 -i <<EOF
          glob rm /etc/runlevels/default/cloud-*
          glob rm /etc/runlevels/boot/cloud-*
          glob rm /etc/runlevels/shutdown/cloud-*
          write /etc/apk/repositories "https://dl-cdn.alpinelinux.org/alpine/latest-stable/main\nhttps://dl-cdn.alpinelinux.org/alpine/latest-stable/community"
          download /etc/passwd /tmp/passwd
          sh "sed -i 's/root:x:/root::/' /tmp/passwd"
          upload /tmp/passwd /etc/passwd
          sh "echo 'ttyAMA0' >> /etc/securetty" || write /etc/securetty "ttyAMA0"
          write /etc/resolv.conf "nameserver 8.8.8.8"
          EOF
          
