      - name: Surgical Operation
        run: |
          export LIBGUESTFS_BACKEND=direct
          sudo guestfish -a alpine.qcow2 -i <<EOF
          # ۱. حذف سرویس‌ها به روش مستقیم (بدون استفاده از دستورات سیستمی)
          -rm /etc/runlevels/default/cloud-init
          -rm /etc/runlevels/default/cloud-config
          -rm /etc/runlevels/default/cloud-final
          -rm /etc/runlevels/boot/cloud-init-local
          
          # ۲. تنظیم مخازن
          write /etc/apk/repositories "https://dl-cdn.alpinelinux.org/alpine/latest-stable/main\nhttps://dl-cdn.alpinelinux.org/alpine/latest-stable/community"
          
          # ۳. حذف پسورد روت به روش دستی (امن‌ترین روش)
          # ما فایل رو دانلود می‌کنیم، روی خودِ اوبونتوی گیت‌هاب ویرایش می‌کنیم و برمی‌گردانیم
          download /etc/passwd passwd_tmp
          EOF
          
          # ویرایش فایل روی سرور گیت‌هاب (خارج از محیط guestfish)
          sed -i 's/root:x:/root::/' passwd_tmp
          
          # برگرداندن فایل به داخل ایمیج
          sudo guestfish -a alpine.qcow2 -i <<EOF
          upload passwd_tmp /etc/passwd
          write /etc/resolv.conf "nameserver 8.8.8.8"
          -write /etc/securetty "ttyAMA0"
          EOF
          
